In [3]:
import pandas as pd

df = pd.read_csv("30k/yelp_review_clean.csv")
df.head()

                                                text  stars
0  This place is delicious!!!! From the Shrimp to...    4.0
1  I write reviews to share my love of food and n...    3.0
2  Prices are very reasonable, but I have to say ...    3.0
3  Review based on first trip to Apolline for Fat...    3.0
4  Very average food especially considering the h...    2.0

In [4]:
df.stars.unique()

array([ 4.,  3.,  2.,  0.,  1., nan])